.page {
  width: 1440px;
  height: 1080px;
  font-family: "Golos UI", sans-serif;
}
.feed {
  position: absolute;
  top: 73px;
  left: 482px;
  width: 474px;
}

.post {
  margin-bottom: 40px;
}

.post__header {
  padding-top: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.post__avatar {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.post__author-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.post__author-link:hover {
  text-decoration: underline;
}

.post__author-name {
  height: 18px;
  font-size: 14px;
  padding-left: 10px;
  width: 120px;
  margin: 0;
}

.post__edit-link {
  padding-left: 298px;
}

.post__image {
  position: relative;
  width: 474px;
  top: 16px;
  display: block;
}

.post__actions {
  position: relative;
  top: 28px;
}

.post__like {
  width: 68px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #2222220d;
  border-radius: 8px;
  padding-left: 12px;
  border: none;
  cursor: pointer;
}

.post__like-count {
  padding-left: 3px;
}

.post__content {
  padding-top: 46px;
  font-size: 15px;
  letter-spacing: -0.15px;
}

.post__text {
  margin: 0;
  padding-bottom: 8px;
}

.post__more-link {
  text-decoration: none;
}

.post__more-text {
  color: #22222280;
  margin: 0;
  padding-bottom: 8px;
}

.post__time {
  display: block;
  color: #22222280;
  padding-bottom: 20px;
}
