@font-face {
  font-family: "Golos UI";
  src: url("static/fonts/Golos-UI_Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1440px;
  height: 1080px;
  font-family: "Golos UI", sans-serif;
}

.menu {
  width: 72px;
  height: 100vh;
  padding: 48px 0px 0px 24px;
  border-right: 1px solid #2222220d;
}
