.profile-avatar {
  position: absolute;
  top: 97px;
  left: 658.5px;
}
.profile-info {
  position: absolute;
  top: 240px;
  left: 539.5px;
  width: 361px;
  height: auto;
  text-align: center;
}
.profile-info__name {
  font-size: 32px;
  letter-spacing: -0.25px;
  font-weight: 500;
  padding-bottom: 10px;
}
.profile-info__bio {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.15px;
  padding-bottom: 12px;
}
.profile-stats {
  position: relative;
  width: 101px;
  height: 30px;
  left: 130px;
  display: flex;
  align-items: center;
  background-color: #2222220d;
  border-radius: 6px;
  padding-left: 10px;
}
.profile-stats__icon {
  width: 16px;
  height: 16px;
}
.profile-stats__count {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.15px;
  padding-left: 6px;
}
.gallery {
  position: absolute;
  top: 402px;
  left: 234px;
  width: 976px;
  height: auto;
  gap: 2.48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery__item {
  width: 322.35px;
  height: 322.35px;
  object-fit: cover;
}
