.header_h1 {
  font-size: 125px;
  position: absolute;
  top: 190px;
  left: 179px;
  line-height: 180px;
  letter-spacing: -1.5px;
}
.header_img {
  position: absolute;
  width: 462px;
  height: 501px;
  top: 289px;
  left: 269px;
}
.entry {
  position: absolute;
  width: 343px;
  top: 415px;
  left: 838px;
}
.password {
  height: 99px;
}
.email {
  height: 104px;
}
.text {
  font-size: 18px;
  height: 23px;
  color: #222222;
}
.shape {
  color: #808080;
  font-size: 16px;
  height: 21px;
  padding-top: 5px;
}
.input {
  width: 343px;
  height: 44px;
  padding: 0 48px 0 12px;
  border-radius: 10px;
  border: none;
  background: #f2f3f5;
}
.submit {
  width: 343px;
  height: 48px;
  border-radius: 10px;
  background: #222;
  color: #fff;
  cursor: pointer;
}
.password {
  position: relative;
}
.eye-button {
  position: absolute;
  right: 15px;
  top: 32%;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
