.avatar {
  position: absolute;
  top: 97px;
  left: 658.5px;
}
.description {
  position: absolute;
  top: 240px;
  left: 539.5px;
  width: 361px;
  height: auto;
  text-align: center;
}
.name {
  font-size: 32px;
  letter-spacing: -0.25px;
  font-weight: 500;
  padding-bottom: 10px;
}
.text {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.15px;
  padding-bottom: 12px;
}
.posts {
  position: relative;
  width: 101px;
  height: 30px;
  left: 130px;
  display: flex;
  align-items: center;
  background-color: #2222220d;
  border-radius: 6px;
  padding-left: 10px;
}
.posts_img {
  width: 16px;
  height: 16px;
}
.posts_p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.15px;
  padding-left: 6px;
}
.photos {
  position: absolute;
  top: 402px;
  left: 234px;
  width: 976px;
  height: auto;
  gap: 2.48px;
}
.photos_img {
  width: 322.35px;
  height: 322.35px;
}
